@import '../../../assets/scss/helpers';
@import '../../../assets/scss/variables';

.home-page{
    form{
        border: 1px solid black;
        border-radius: 22px;
        height: 44px;
        width: 306px;
        display: flex;
        align-items: center;
        input.my-input{
            margin-left: 10px;
            height: 30px;
            border: none;
            font-size: 20px;
            background-color: transparent;
            &:focus{
                outline-width: 0;
            }
        }
        input:-webkit-autofill {
            box-shadow: 0 0 0px 1000px white inset;
            -webkit-box-shadow: 0 0 0px 1000px white inset;
            // background-color: white !important;
        }
        input:-webkit-autofill:focus {
            box-shadow: 0 0 0px 1000px white inset ;
            -webkit-box-shadow: 0 0 0px 1000px white inset;
        }
        // input:-internal-autofill-selected{
        //     background-color: transparent !important;
        // }
        button{
            font-size: 20px;
        }
    }
    .cities-container{
        flex-direction: column;
        margin-top: 30px;
        & >*:not(:last-child){
            margin-bottom: 10px;
        }
        @media (min-width: $mobile-breakpoint){
            flex-direction: unset;
            & >*:not(:last-child){
                margin-bottom: unset;
                margin-right: 10px;
            }
        }
    }
    .forecast-container{
        margin-top: 30px;
        .city-header{
            span{
                margin-left: 15px;
                color: darkblue;
            }
        }
        .forecast-list{
            flex-direction: column;
            @media (min-width: $mobile-breakpoint){
                flex-direction: unset;
            } 
        }
        button{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 136px;
            background-color: #f5f5f54f;
            transition: 0.25s ease-in-out;
            &:hover{
                cursor: pointer;
            }
            &:active {
                background-color: blue;
                border-color: grey;
                color: white;
                box-shadow: none;
            }
        }
    }
}