<section class="home-page flex column align-center justify-center">
    <form (ngSubmit)="onSubmit()">
        <input class="my-input" type="text" [(ngModel)]="cityName" name="cityName" id="cityName">
        <button class="clean-btn">🔎</button>
    </form>
    <div *ngIf="!fiveDaysForecasts?.length" class="cities-container flex justify-center">
        <city-name *ngFor="let city of optionalCities;" [city]="city" (selectCity)="onFindWeather($event)"></city-name>
    </div>
    <div *ngIf="fiveDaysForecasts?.length" class="forecast-container flex column align-center">
        <div class="city-header flex align-center">
            <h1 >{{selectedCity}}</h1>
            <span *ngIf="isFavorite" >in favorites</span>
        </div>
        <button *ngIf="!isFavorite" (click)="onAddFavorites()" class="regular-btn">Add to Favorites</button>
        <div class="forecast-list flex">
            <daily-forecast *ngFor="let forecast of fiveDaysForecasts;" [forecast]="forecast"></daily-forecast>
        </div>
    </div>
</section>